/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#pragma once

/ {
    behaviors {
        kana_ki: kana_ki {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp K>, <&kp I>;
        };

        kana_te: kana_te {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp E>;
        };

        kana_shi: kana_shi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp S>, <&kp H>, <&kp I>;
        };

        kana_ro: kana_ro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp R>, <&kp O>;
        };

        kana_ke: kana_ke {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp K>, <&kp E>;
        };

        kana_to: kana_to {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp O>;
        };

        kana_ka: kana_ka {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp K>, <&kp A>;
        };

        kana_xtsu: kana_xtsu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp T>, <&kp S>, <&kp U>;
        };

        kana_ho: kana_ho {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp H>, <&kp O>;
        };

        kana_hi: kana_hi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp H>, <&kp I>;
        };

        kana_ha: kana_ha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp H>, <&kp A>;
        };

        kana_ko: kana_ko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp K>, <&kp O>;
        };

        kana_so: kana_so {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp S>, <&kp O>;
        };

        kana_sa: kana_sa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp S>, <&kp A>;
        };

        kana_ru: kana_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp R>, <&kp U>;
        };

        kana_su: kana_su {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp S>, <&kp U>;
        };

        kana_he: kana_he {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp H>, <&kp E>;
        };

        kana_ku: kana_ku {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp K>, <&kp U>;
        };

        kana_ta: kana_ta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp A>;
        };

        kana_na: kana_na {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp N>, <&kp A>;
        };

        kana_nn: kana_nn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp N>, <&kp N>;
        };

        kana_ra: kana_ra {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp R>, <&kp A>;
        };

        kana_re: kana_re {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp R>, <&kp E>;
        };

        kana_ne: kana_ne {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp N>, <&kp E>;
        };

        kana_ri: kana_ri {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp R>, <&kp I>;
        };

        kana_me: kana_me {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp M>, <&kp E>;
        };

        kana_yo: kana_yo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Y>, <&kp O>;
        };

        kana_yu: kana_yu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Y>, <&kp U>;
        };

        kana_se: kana_se {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp S>, <&kp E>;
        };

        kana_mi: kana_mi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp M>, <&kp I>;
        };

        kana_ni: kana_ni {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp N>, <&kp I>;
        };

        kana_ma: kana_ma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp M>, <&kp A>;
        };

        kana_chi: kana_chi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp C>, <&kp H>, <&kp I>;
        };

        kana_ya: kana_ya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Y>, <&kp A>;
        };

        kana_no: kana_no {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp N>, <&kp O>;
        };

        kana_mo: kana_mo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp M>, <&kp O>;
        };

        kana_tsu: kana_tsu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp S>, <&kp U>;
        };

        kana_fu: kana_fu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp F>, <&kp U>;
        };

        kana_wo: kana_wo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp W>, <&kp O>;
        };

        kana_nu: kana_nu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp N>, <&kp U>;
        };

        kana_mu: kana_mu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp M>, <&kp U>;
        };

        kana_wa: kana_wa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp W>, <&kp A>;
        };

        kana_za: kana_za {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Z>, <&kp A>;
        };

        kana_zu: kana_zu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Z>, <&kp U>;
        };

        kana_be: kana_be {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp B>, <&kp E>;
        };

        kana_gu: kana_gu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp U>;
        };

        kana_du: kana_du {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp U>;
        };

        kana_bu: kana_bu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp B>, <&kp U>;
        };

        kana_da: kana_da {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp A>;
        };

        kana_gi: kana_gi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp I>;
        };

        kana_de: kana_de {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp E>;
        };

        kana_ji: kana_ji {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp J>, <&kp I>;
        };

        kana_ze: kana_ze {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Z>, <&kp E>;
        };

        kana_ge: kana_ge {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp E>;
        };

        kana_do: kana_do {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp O>;
        };

        kana_ga: kana_ga {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp A>;
        };

        kana_di: kana_di {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp I>;
        };

        kana_bo: kana_bo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp B>, <&kp O>;
        };

        kana_bi: kana_bi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp B>, <&kp I>;
        };

        kana_ba: kana_ba {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp B>, <&kp A>;
        };

        kana_go: kana_go {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp O>;
        };

        kana_zo: kana_zo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Z>, <&kp O>;
        };

        kana_pe: kana_pe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp P>, <&kp E>;
        };

        kana_pu: kana_pu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp P>, <&kp U>;
        };

        kana_po: kana_po {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp P>, <&kp O>;
        };

        kana_pi: kana_pi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp P>, <&kp I>;
        };

        kana_pa: kana_pa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp P>, <&kp A>;
        };

        kana_xa: kana_xa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp A>;
        };

        kana_xi: kana_xi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp I>;
        };

        kana_xu: kana_xu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp U>;
        };

        kana_xe: kana_xe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp E>;
        };

        kana_xo: kana_xo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp O>;
        };

        kana_xya: kana_xya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp Y>, <&kp A>;
        };

        kana_xyu: kana_xyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp Y>, <&kp U>;
        };

        kana_xyo: kana_xyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp Y>, <&kp O>;
        };

        kana_xwa: kana_xwa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp W>, <&kp A>;
        };

        kana_xka: kana_xka {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp K>, <&kp A>;
        };

        kana_xke: kana_xke {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp L>, <&kp K>, <&kp E>;
        };

        kana_kya: kana_kya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp K>, <&kp Y>, <&kp A>;
        };

        kana_rya: kana_rya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp R>, <&kp Y>, <&kp A>;
        };

        kana_sha: kana_sha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp S>, <&kp H>, <&kp A>;
        };

        kana_mya: kana_mya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp M>, <&kp Y>, <&kp A>;
        };

        kana_nya: kana_nya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp N>, <&kp Y>, <&kp A>;
        };

        kana_cha: kana_cha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp C>, <&kp H>, <&kp A>;
        };

        kana_hya: kana_hya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp H>, <&kp Y>, <&kp A>;
        };

        kana_kyu: kana_kyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp K>, <&kp Y>, <&kp U>;
        };

        kana_ryu: kana_ryu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp R>, <&kp Y>, <&kp U>;
        };

        kana_shu: kana_shu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp S>, <&kp H>, <&kp U>;
        };

        kana_myu: kana_myu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp M>, <&kp Y>, <&kp U>;
        };

        kana_nyu: kana_nyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp N>, <&kp Y>, <&kp U>;
        };

        kana_chu: kana_chu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp C>, <&kp H>, <&kp U>;
        };

        kana_hyu: kana_hyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp H>, <&kp Y>, <&kp U>;
        };

        kana_kyo: kana_kyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp K>, <&kp Y>, <&kp O>;
        };

        kana_ryo: kana_ryo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp R>, <&kp Y>, <&kp O>;
        };

        kana_sho: kana_sho {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp S>, <&kp H>, <&kp O>;
        };

        kana_myo: kana_myo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp M>, <&kp Y>, <&kp O>;
        };

        kana_nyo: kana_nyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp N>, <&kp Y>, <&kp O>;
        };

        kana_cho: kana_cho {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp C>, <&kp H>, <&kp O>;
        };

        kana_hyo: kana_hyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp H>, <&kp Y>, <&kp O>;
        };

        kana_gya: kana_gya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp Y>, <&kp A>;
        };

        kana_gyu: kana_gyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp Y>, <&kp U>;
        };

        kana_gyo: kana_gyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp Y>, <&kp O>;
        };

        kana_ja: kana_ja {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp J>, <&kp A>;
        };

        kana_ju: kana_ju {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp J>, <&kp U>;
        };

        kana_jo: kana_jo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp J>, <&kp O>;
        };

        kana_dya: kana_dya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp Y>, <&kp A>;
        };

        kana_dyu: kana_dyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp Y>, <&kp U>;
        };

        kana_dyo: kana_dyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp Y>, <&kp O>;
        };

        kana_bya: kana_bya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp B>, <&kp Y>, <&kp A>;
        };

        kana_byu: kana_byu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp B>, <&kp Y>, <&kp U>;
        };

        kana_byo: kana_byo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp B>, <&kp Y>, <&kp O>;
        };

        kana_pya: kana_pya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp P>, <&kp Y>, <&kp A>;
        };

        kana_pyu: kana_pyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp P>, <&kp Y>, <&kp U>;
        };

        kana_pyo: kana_pyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp P>, <&kp Y>, <&kp O>;
        };

        kana_thi: kana_thi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp H>, <&kp I>;
        };

        kana_thu: kana_thu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp H>, <&kp U>;
        };

        kana_dhi: kana_dhi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp H>, <&kp I>;
        };

        kana_dhu: kana_dhu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp H>, <&kp U>;
        };

        kana_twu: kana_twu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp W>, <&kp U>;
        };

        kana_dwu: kana_dwu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp W>, <&kp U>;
        };

        kana_sye: kana_sye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp S>, <&kp Y>, <&kp E>;
        };

        kana_tye: kana_tye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp Y>, <&kp E>;
        };

        kana_zye: kana_zye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp J>, <&kp E>;
        };

        kana_dye: kana_dye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp D>, <&kp Y>, <&kp E>;
        };

        kana_fa: kana_fa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp F>, <&kp A>;
        };

        kana_fi: kana_fi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp F>, <&kp I>;
        };

        kana_fe: kana_fe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp F>, <&kp E>;
        };

        kana_fo: kana_fo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp F>, <&kp O>;
        };

        kana_fyu: kana_fyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp F>, <&kp Y>, <&kp U>;
        };

        kana_va: kana_va {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp V>, <&kp A>;
        };

        kana_vi: kana_vi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp V>, <&kp I>;
        };

        kana_vu: kana_vu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp V>, <&kp U>;
        };

        kana_ve: kana_ve {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp V>, <&kp E>;
        };

        kana_vo: kana_vo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp V>, <&kp O>;
        };

        kana_vyu: kana_vyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp V>, <&kp Y>, <&kp U>;
        };

        kana_wi: kana_wi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp W>, <&kp I>;
        };

        kana_we: kana_we {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp W>, <&kp E>;
        };

        kana_who: kana_who {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp W>, <&kp H>, <&kp O>;
        };

        kana_ye: kana_ye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Y>, <&kp E>;
        };

        kana_tsa: kana_tsa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp S>, <&kp A>;
        };

        kana_tsi: kana_tsi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp S>, <&kp I>;
        };

        kana_tse: kana_tse {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp S>, <&kp E>;
        };

        kana_tso: kana_tso {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp T>, <&kp S>, <&kp O>;
        };

        kana_kwa: kana_kwa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Q>, <&kp A>;
        };

        kana_kwi: kana_kwi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Q>, <&kp I>;
        };

        kana_kwe: kana_kwe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Q>, <&kp E>;
        };

        kana_kwo: kana_kwo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp Q>, <&kp O>;
        };

        kana_kxwa: kana_kxwa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp K>, <&kp U>, <&kp X>, <&kp W>, <&kp A>;
        };

        kana_gwa: kana_gwa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp W>, <&kp A>;
        };

        kana_gwi: kana_gwi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp W>, <&kp I>;
        };

        kana_gwe: kana_gwe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp W>, <&kp E>;
        };

        kana_gwo: kana_gwo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp W>, <&kp O>;
        };

        kana_gxwa: kana_gxwa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <KANA_WAIT_MS>;
            tap-ms = <KANA_TAP_MS>;
            bindings = <&kp G>, <&kp U>, <&kp X>, <&kp W>, <&kp A>;
        };
    };
};
