/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "zmk-helpers/helper.h"
#include "includes/cornix54.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// tap windows for ctl alt and gui

#define HM_TAPPING_TERM 250
#define HM_TAPPING_REPEAT 210

// quick tapping for shift

#define HM_TAPPING_TERM_FAST 200
#define HM_PRIOR_IDLE 70
#define BASE 0
#define WIN 1
#define LOWER 2
#define RAISE 3
#define ADJUST 4
#define NAVI   5
#define NUM    6
#define DEBUG  7

// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define THUMBS LH1 LH0 RH0 RH1
#define KEYS_T LH1 LH0 RH0 RH1
#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    // Activate ADJUST layer by pressing raise and lower

    behaviors {
        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;                // repeat on tap-into-hold
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;
            hold-trigger-on-release;
        };

        // Positional Homerow mods for shift
        // Use faster tapping term and disable some features that may
        // cause false negatives.

        hm_shift_l: hm_shift_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            //flavor = "balanced";

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_shift_r: hm_shift_r {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;

            // for quick tapping; shift+~

            hold-trigger-on-release;
        };

        /*
         * Non-Positional Homerow Mods
         * Used for &mm_grescm_gui behavior on left hand.
         *
         * Usage: &hm LSHFT T
         * Tap: T
         * Tap-Tap-Hold: Repeat T
         * Hold: LSHIFT
         */

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;
        };

        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "hold-preferred";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;
        };

        sp_shift_arrows: sp_shift_arrows {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            hold-trigger-key-positions = <10 36>;
        };

        mm_comma_qmark: mm_comma_qmark {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_dot_excl: mm_dot_excl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_at_hash: mm_at_hash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp AT>, <&kp HASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_pipe_amps: mm_pipe_amps {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PIPE>, <&kp AMPS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_del_bspc: mm_del_bspc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DEL>, <&kp BSPC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_bspc_del: mm_bspc_del {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rot_scroll_vert: rot_scroll_vert {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>;
        };

        rot_scroll_horiz: rot_scroll_horiz {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_RIGHT>, <&msc SCRL_LEFT>;
            tap-ms = <20>;
        };



        to_naginata: to_naginata {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp GRAVE>, <&macro_release &kp LALT>, <&macro_tap &to 2>;
        };

        to_arensito: to_arensito {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp GRAVE>, <&macro_release &kp LALT>, <&macro_tap &to 0>;
        };

        kana_ki: kana_ki {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K>, <&kp I>;
        };

        kana_te: kana_te {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp E>;
        };

        kana_shi: kana_shi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S>, <&kp H>, <&kp I>;
        };

        kana_ro: kana_ro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R>, <&kp O>;
        };

        kana_ke: kana_ke {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K>, <&kp E>;
        };

        kana_to: kana_to {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp O>;
        };

        kana_ka: kana_ka {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K>, <&kp A>;
        };

        kana_xtsu: kana_xtsu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp T>, <&kp S>, <&kp U>;
        };

        kana_ho: kana_ho {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H>, <&kp O>;
        };

        kana_hi: kana_hi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H>, <&kp I>;
        };

        kana_ha: kana_ha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H>, <&kp A>;
        };

        kana_ko: kana_ko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K>, <&kp O>;
        };

        kana_so: kana_so {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S>, <&kp O>;
        };

        kana_sa: kana_sa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S>, <&kp A>;
        };

        kana_ru: kana_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R>, <&kp U>;
        };

        kana_su: kana_su {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S>, <&kp U>;
        };

        kana_he: kana_he {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H>, <&kp E>;
        };

        kana_ku: kana_ku {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K>, <&kp U>;
        };

        kana_ta: kana_ta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp A>;
        };

        kana_na: kana_na {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N>, <&kp A>;
        };

        kana_nn: kana_nn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N>, <&kp N>;
        };

        kana_ra: kana_ra {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R>, <&kp A>;
        };

        kana_re: kana_re {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R>, <&kp E>;
        };

        kana_ne: kana_ne {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N>, <&kp E>;
        };

        kana_ri: kana_ri {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R>, <&kp I>;
        };

        kana_me: kana_me {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M>, <&kp E>;
        };

        kana_yo: kana_yo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Y>, <&kp O>;
        };

        kana_yu: kana_yu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Y>, <&kp U>;
        };

        kana_se: kana_se {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S>, <&kp E>;
        };

        kana_mi: kana_mi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M>, <&kp I>;
        };

        kana_ni: kana_ni {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N>, <&kp I>;
        };

        kana_ma: kana_ma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M>, <&kp A>;
        };

        kana_chi: kana_chi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp C>, <&kp H>, <&kp I>;
        };

        kana_ya: kana_ya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Y>, <&kp A>;
        };

        kana_no: kana_no {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N>, <&kp O>;
        };

        kana_mo: kana_mo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M>, <&kp O>;
        };

        kana_tsu: kana_tsu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp S>, <&kp U>;
        };

        kana_fu: kana_fu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp F>, <&kp U>;
        };

        kana_wo: kana_wo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp W>, <&kp O>;
        };

        kana_nu: kana_nu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N>, <&kp U>;
        };

        kana_mu: kana_mu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M>, <&kp U>;
        };

        kana_wa: kana_wa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp W>, <&kp A>;
        };

        kana_za: kana_za {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Z>, <&kp A>;
        };

        kana_zu: kana_zu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Z>, <&kp U>;
        };

        kana_be: kana_be {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B>, <&kp E>;
        };

        kana_gu: kana_gu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp U>;
        };

        kana_du: kana_du {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp U>;
        };

        kana_bu: kana_bu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B>, <&kp U>;
        };

        kana_da: kana_da {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp A>;
        };

        kana_gi: kana_gi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp I>;
        };

        kana_de: kana_de {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp E>;
        };

        kana_ji: kana_ji {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp J>, <&kp I>;
        };

        kana_ze: kana_ze {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Z>, <&kp E>;
        };

        kana_ge: kana_ge {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp E>;
        };

        kana_do: kana_do {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp O>;
        };

        kana_ga: kana_ga {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp A>;
        };

        kana_di: kana_di {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp I>;
        };

        kana_bo: kana_bo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B>, <&kp O>;
        };

        kana_bi: kana_bi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B>, <&kp I>;
        };

        kana_ba: kana_ba {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B>, <&kp A>;
        };

        kana_go: kana_go {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp O>;
        };

        kana_zo: kana_zo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Z>, <&kp O>;
        };

        kana_pe: kana_pe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P>, <&kp E>;
        };

        kana_pu: kana_pu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P>, <&kp U>;
        };

        kana_po: kana_po {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P>, <&kp O>;
        };

        kana_pi: kana_pi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P>, <&kp I>;
        };

        kana_pa: kana_pa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P>, <&kp A>;
        };

        kana_xa: kana_xa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp A>;
        };

        kana_xi: kana_xi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp I>;
        };

        kana_xu: kana_xu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp U>;
        };

        kana_xe: kana_xe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp E>;
        };

        kana_xo: kana_xo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp O>;
        };

        kana_xya: kana_xya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp Y>, <&kp A>;
        };

        kana_xyu: kana_xyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp Y>, <&kp U>;
        };

        kana_xyo: kana_xyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp Y>, <&kp O>;
        };

        kana_xwa: kana_xwa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp W>, <&kp A>;
        };

        kana_xka: kana_xka {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp K>, <&kp A>;
        };

        kana_xke: kana_xke {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L>, <&kp K>, <&kp E>;
        };

        kana_kya: kana_kya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K>, <&kp Y>, <&kp A>;
        };

        kana_rya: kana_rya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R>, <&kp Y>, <&kp A>;
        };

        kana_sha: kana_sha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S>, <&kp H>, <&kp A>;
        };

        kana_mya: kana_mya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M>, <&kp Y>, <&kp A>;
        };

        kana_nya: kana_nya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N>, <&kp Y>, <&kp A>;
        };

        kana_cha: kana_cha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp C>, <&kp H>, <&kp A>;
        };

        kana_hya: kana_hya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H>, <&kp Y>, <&kp A>;
        };

        kana_kyu: kana_kyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K>, <&kp Y>, <&kp U>;
        };

        kana_ryu: kana_ryu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R>, <&kp Y>, <&kp U>;
        };

        kana_shu: kana_shu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S>, <&kp H>, <&kp U>;
        };

        kana_myu: kana_myu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M>, <&kp Y>, <&kp U>;
        };

        kana_nyu: kana_nyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N>, <&kp Y>, <&kp U>;
        };

        kana_chu: kana_chu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp C>, <&kp H>, <&kp U>;
        };

        kana_hyu: kana_hyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H>, <&kp Y>, <&kp U>;
        };

        kana_kyo: kana_kyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K>, <&kp Y>, <&kp O>;
        };

        kana_ryo: kana_ryo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R>, <&kp Y>, <&kp O>;
        };

        kana_sho: kana_sho {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S>, <&kp H>, <&kp O>;
        };

        kana_myo: kana_myo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M>, <&kp Y>, <&kp O>;
        };

        kana_nyo: kana_nyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N>, <&kp Y>, <&kp O>;
        };

        kana_cho: kana_cho {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp C>, <&kp H>, <&kp O>;
        };

        kana_hyo: kana_hyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H>, <&kp Y>, <&kp O>;
        };

        kana_gya: kana_gya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp Y>, <&kp A>;
        };

        kana_gyu: kana_gyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp Y>, <&kp U>;
        };

        kana_gyo: kana_gyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp Y>, <&kp O>;
        };

        kana_ja: kana_ja {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp J>, <&kp A>;
        };

        kana_ju: kana_ju {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp J>, <&kp U>;
        };

        kana_jo: kana_jo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp J>, <&kp O>;
        };

        kana_dya: kana_dya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp Y>, <&kp A>;
        };

        kana_dyu: kana_dyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp Y>, <&kp U>;
        };

        kana_dyo: kana_dyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp Y>, <&kp O>;
        };

        kana_bya: kana_bya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B>, <&kp Y>, <&kp A>;
        };

        kana_byu: kana_byu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B>, <&kp Y>, <&kp U>;
        };

        kana_byo: kana_byo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B>, <&kp Y>, <&kp O>;
        };

        kana_pya: kana_pya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P>, <&kp Y>, <&kp A>;
        };

        kana_pyu: kana_pyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P>, <&kp Y>, <&kp U>;
        };

        kana_pyo: kana_pyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P>, <&kp Y>, <&kp O>;
        };

        kana_thi: kana_thi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp H>, <&kp I>;
        };

        kana_thu: kana_thu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp H>, <&kp U>;
        };

        kana_dhi: kana_dhi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp H>, <&kp I>;
        };

        kana_dhu: kana_dhu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp H>, <&kp U>;
        };

        kana_twu: kana_twu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp W>, <&kp U>;
        };

        kana_dwu: kana_dwu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp W>, <&kp U>;
        };

        kana_sye: kana_sye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S>, <&kp Y>, <&kp E>;
        };

        kana_tye: kana_tye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp Y>, <&kp E>;
        };

        kana_zye: kana_zye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp J>, <&kp E>;
        };

        kana_dye: kana_dye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D>, <&kp Y>, <&kp E>;
        };

        kana_fa: kana_fa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp F>, <&kp A>;
        };

        kana_fi: kana_fi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp F>, <&kp I>;
        };

        kana_fe: kana_fe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp F>, <&kp E>;
        };

        kana_fo: kana_fo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp F>, <&kp O>;
        };

        kana_fyu: kana_fyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp F>, <&kp Y>, <&kp U>;
        };

        kana_va: kana_va {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp V>, <&kp A>;
        };

        kana_vi: kana_vi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp V>, <&kp I>;
        };

        kana_vu: kana_vu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp V>, <&kp U>;
        };

        kana_ve: kana_ve {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp V>, <&kp E>;
        };

        kana_vo: kana_vo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp V>, <&kp O>;
        };

        kana_vyu: kana_vyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp V>, <&kp Y>, <&kp U>;
        };

        kana_wi: kana_wi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp W>, <&kp I>;
        };

        kana_we: kana_we {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp W>, <&kp E>;
        };

        kana_who: kana_who {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp W>, <&kp H>, <&kp O>;
        };

        kana_ye: kana_ye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Y>, <&kp E>;
        };

        kana_tsa: kana_tsa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp S>, <&kp A>;
        };

        kana_tsi: kana_tsi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp S>, <&kp I>;
        };

        kana_tse: kana_tse {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp S>, <&kp E>;
        };

        kana_tso: kana_tso {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T>, <&kp S>, <&kp O>;
        };

        kana_kwa: kana_kwa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Q>, <&kp A>;
        };

        kana_kwi: kana_kwi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Q>, <&kp I>;
        };

        kana_kwe: kana_kwe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Q>, <&kp E>;
        };

        kana_kwo: kana_kwo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Q>, <&kp O>;
        };

        kana_kxwa: kana_kxwa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K>, <&kp U>, <&kp X>, <&kp W>, <&kp A>;
        };

        kana_gwa: kana_gwa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp W>, <&kp A>;
        };

        kana_gwi: kana_gwi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp W>, <&kp I>;
        };

        kana_gwe: kana_gwe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp W>, <&kp E>;
        };

        kana_gwo: kana_gwo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp W>, <&kp O>;
        };

        kana_gxwa: kana_gxwa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G>, <&kp U>, <&kp X>, <&kp W>, <&kp A>;
        };
    };

    /*
    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <3 2>;
            then-layer = <4>;
        };
    };
    */

    combos {
        compatible = "zmk,combos";

        // -------------------------------------------------------------
        // nvim レイヤー呼び出し: 「.」(27) + 「h」(28) (Layer 0)
        // -------------------------------------------------------------
        combo_navi {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&mo 6>;
            layers = <0>;
            slow-release;
        };

        // -------------------------------------------------------------
        // Fn & Nav レイヤー呼び出し (3キー同時ホールド):
        // 左手: 「w」(26) + 「.」(27) + 「h」(28) (Layer 0 & 2)
        // -------------------------------------------------------------
        combo_fn_nav_l {
            timeout-ms = <50>;
            key-positions = <26 27 28>;
            bindings = <&mo 5>;
            layers = <0 2>;
            slow-release;
        };

        // -------------------------------------------------------------
        // Fn & Nav レイヤー呼び出し (3キー同時ホールド):
        // 右手: 「c」(33) + 「y」(34) + 「m」(35) (Layer 0 & 2)
        // -------------------------------------------------------------
        combo_fn_nav_r {
            timeout-ms = <50>;
            key-positions = <33 34 35>;
            bindings = <&mo 5>;
            layers = <0 2>;
            slow-release;
        };

        // -------------------------------------------------------------
        // 濁音: 「か」(16) + 右手キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_za {
            timeout-ms = <80>;
            key-positions = <16 7>;
            bindings = <&kana_za>;
            layers = <2 3>;
        };

        combo_zu {
            timeout-ms = <80>;
            key-positions = <16 9>;
            bindings = <&kana_zu>;
            layers = <2 3>;
        };

        combo_be {
            timeout-ms = <80>;
            key-positions = <16 10>;
            bindings = <&kana_be>;
            layers = <2 3>;
        };

        combo_gu {
            timeout-ms = <80>;
            key-positions = <16 18>;
            bindings = <&kana_gu>;
            layers = <2 3>;
        };

        combo_du {
            timeout-ms = <80>;
            key-positions = <16 21>;
            bindings = <&kana_du>;
            layers = <2 3>;
        };

        combo_bu {
            timeout-ms = <80>;
            key-positions = <16 22>;
            bindings = <&kana_bu>;
            layers = <2 3>;
        };

        combo_da {
            timeout-ms = <80>;
            key-positions = <16 32>;
            bindings = <&kana_da>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 濁音: 「あ」(19) + 左手キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_gi {
            timeout-ms = <80>;
            key-positions = <19 2>;
            bindings = <&kana_gi>;
            layers = <2 3>;
        };

        combo_de {
            timeout-ms = <80>;
            key-positions = <19 3>;
            bindings = <&kana_de>;
            layers = <2 3>;
        };

        combo_ji {
            timeout-ms = <80>;
            key-positions = <19 4>;
            bindings = <&kana_ji>;
            layers = <2 3>;
        };

        combo_ze {
            timeout-ms = <80>;
            key-positions = <19 13>;
            bindings = <&kana_ze>;
            layers = <2 3>;
        };

        combo_ge {
            timeout-ms = <80>;
            key-positions = <19 14>;
            bindings = <&kana_ge>;
            layers = <2 3>;
        };

        combo_do {
            timeout-ms = <80>;
            key-positions = <19 15>;
            bindings = <&kana_do>;
            layers = <2 3>;
        };

        combo_ga {
            timeout-ms = <80>;
            key-positions = <19 16>;
            bindings = <&kana_ga>;
            layers = <2 3>;
        };

        combo_di {
            timeout-ms = <80>;
            key-positions = <19 17>;
            bindings = <&kana_di>;
            layers = <2 3>;
        };

        combo_bo {
            timeout-ms = <80>;
            key-positions = <19 25>;
            bindings = <&kana_bo>;
            layers = <2 3>;
        };

        combo_bi {
            timeout-ms = <80>;
            key-positions = <19 26>;
            bindings = <&kana_bi>;
            layers = <2 3>;
        };

        combo_ba {
            timeout-ms = <80>;
            key-positions = <19 27>;
            bindings = <&kana_ba>;
            layers = <2 3>;
        };

        combo_go {
            timeout-ms = <80>;
            key-positions = <19 28>;
            bindings = <&kana_go>;
            layers = <2 3>;
        };

        combo_zo {
            timeout-ms = <80>;
            key-positions = <19 29>;
            bindings = <&kana_zo>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 半濁音: 「こ」(28) + 右手キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_pe {
            timeout-ms = <80>;
            key-positions = <28 10>;
            bindings = <&kana_pe>;
            layers = <2 3>;
        };

        combo_pu {
            timeout-ms = <80>;
            key-positions = <28 22>;
            bindings = <&kana_pu>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 半濁音: 「な」(33) + 左手キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_po {
            timeout-ms = <80>;
            key-positions = <33 25>;
            bindings = <&kana_po>;
            layers = <2 3>;
        };

        combo_pi {
            timeout-ms = <80>;
            key-positions = <33 26>;
            bindings = <&kana_pi>;
            layers = <2 3>;
        };

        combo_pa {
            timeout-ms = <80>;
            key-positions = <33 27>;
            bindings = <&kana_pa>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 小書き: 「小」(1) + 各キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_xyo {
            timeout-ms = <80>;
            key-positions = <1 8>;
            bindings = <&kana_xyo>;
            layers = <2 3>;
        };

        combo_xe {
            timeout-ms = <80>;
            key-positions = <1 9>;
            bindings = <&kana_xe>;
            layers = <2 3>;
        };

        combo_xyu {
            timeout-ms = <80>;
            key-positions = <1 10>;
            bindings = <&kana_xyu>;
            layers = <2 3>;
        };

        combo_xke {
            timeout-ms = <80>;
            key-positions = <1 14>;
            bindings = <&kana_xke>;
            layers = <2 3>;
        };

        combo_xka {
            timeout-ms = <80>;
            key-positions = <1 16>;
            bindings = <&kana_xka>;
            layers = <2 3>;
        };

        combo_xya {
            timeout-ms = <80>;
            key-positions = <1 18>;
            bindings = <&kana_xya>;
            layers = <2 3>;
        };

        combo_xa {
            timeout-ms = <80>;
            key-positions = <1 19>;
            bindings = <&kana_xa>;
            layers = <2 3>;
        };

        combo_xi {
            timeout-ms = <80>;
            key-positions = <1 20>;
            bindings = <&kana_xi>;
            layers = <2 3>;
        };

        combo_xu {
            timeout-ms = <80>;
            key-positions = <1 21>;
            bindings = <&kana_xu>;
            layers = <2 3>;
        };

        combo_xo {
            timeout-ms = <80>;
            key-positions = <1 32>;
            bindings = <&kana_xo>;
            layers = <2 3>;
        };

        combo_xwa {
            timeout-ms = <80>;
            key-positions = <1 35>;
            bindings = <&kana_xwa>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 清音拗音: 「く」(18) + 左手キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_kya {
            timeout-ms = <80>;
            key-positions = <18 2>;
            bindings = <&kana_kya>;
            layers = <2 3>;
        };

        combo_rya {
            timeout-ms = <80>;
            key-positions = <18 3>;
            bindings = <&kana_rya>;
            layers = <2 3>;
        };

        combo_sha {
            timeout-ms = <80>;
            key-positions = <18 4>;
            bindings = <&kana_sha>;
            layers = <2 3>;
        };

        combo_mya {
            timeout-ms = <80>;
            key-positions = <18 14>;
            bindings = <&kana_mya>;
            layers = <2 3>;
        };

        combo_nya {
            timeout-ms = <80>;
            key-positions = <18 15>;
            bindings = <&kana_nya>;
            layers = <2 3>;
        };

        combo_cha {
            timeout-ms = <80>;
            key-positions = <18 17>;
            bindings = <&kana_cha>;
            layers = <2 3>;
        };

        combo_hya {
            timeout-ms = <80>;
            key-positions = <18 26>;
            bindings = <&kana_hya>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 清音拗音: 「へ」(10) + 左手キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_kyu {
            timeout-ms = <80>;
            key-positions = <10 2>;
            bindings = <&kana_kyu>;
            layers = <2 3>;
        };

        combo_ryu {
            timeout-ms = <80>;
            key-positions = <10 3>;
            bindings = <&kana_ryu>;
            layers = <2 3>;
        };

        combo_shu {
            timeout-ms = <80>;
            key-positions = <10 4>;
            bindings = <&kana_shu>;
            layers = <2 3>;
        };

        combo_myu {
            timeout-ms = <80>;
            key-positions = <10 14>;
            bindings = <&kana_myu>;
            layers = <2 3>;
        };

        combo_nyu {
            timeout-ms = <80>;
            key-positions = <10 15>;
            bindings = <&kana_nyu>;
            layers = <2 3>;
        };

        combo_chu {
            timeout-ms = <80>;
            key-positions = <10 17>;
            bindings = <&kana_chu>;
            layers = <2 3>;
        };

        combo_hyu {
            timeout-ms = <80>;
            key-positions = <10 26>;
            bindings = <&kana_hyu>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 清音拗音: 「る」(8) + 左手キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_kyo {
            timeout-ms = <80>;
            key-positions = <8 2>;
            bindings = <&kana_kyo>;
            layers = <2 3>;
        };

        combo_ryo {
            timeout-ms = <80>;
            key-positions = <8 3>;
            bindings = <&kana_ryo>;
            layers = <2 3>;
        };

        combo_sho {
            timeout-ms = <80>;
            key-positions = <8 4>;
            bindings = <&kana_sho>;
            layers = <2 3>;
        };

        combo_myo {
            timeout-ms = <80>;
            key-positions = <8 14>;
            bindings = <&kana_myo>;
            layers = <2 3>;
        };

        combo_nyo {
            timeout-ms = <80>;
            key-positions = <8 15>;
            bindings = <&kana_nyo>;
            layers = <2 3>;
        };

        combo_cho {
            timeout-ms = <80>;
            key-positions = <8 17>;
            bindings = <&kana_cho>;
            layers = <2 3>;
        };

        combo_hyo {
            timeout-ms = <80>;
            key-positions = <8 26>;
            bindings = <&kana_hyo>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 濁音拗音: 「あ」(19) + 「く」(18) + 左手キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_gya {
            timeout-ms = <80>;
            key-positions = <19 18 2>;
            bindings = <&kana_gya>;
            layers = <2 3>;
        };

        combo_ja {
            timeout-ms = <80>;
            key-positions = <19 18 4>;
            bindings = <&kana_ja>;
            layers = <2 3>;
        };

        combo_dya {
            timeout-ms = <80>;
            key-positions = <19 18 17>;
            bindings = <&kana_dya>;
            layers = <2 3>;
        };

        combo_bya {
            timeout-ms = <80>;
            key-positions = <19 18 26>;
            bindings = <&kana_bya>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 濁音拗音: 「あ」(19) + 「へ」(10) + 左手キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_gyu {
            timeout-ms = <80>;
            key-positions = <19 10 2>;
            bindings = <&kana_gyu>;
            layers = <2 3>;
        };

        combo_ju {
            timeout-ms = <80>;
            key-positions = <19 10 4>;
            bindings = <&kana_ju>;
            layers = <2 3>;
        };

        combo_dyu {
            timeout-ms = <80>;
            key-positions = <19 10 17>;
            bindings = <&kana_dyu>;
            layers = <2 3>;
        };

        combo_byu {
            timeout-ms = <80>;
            key-positions = <19 10 26>;
            bindings = <&kana_byu>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 濁音拗音: 「あ」(19) + 「る」(8) + 左手キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_gyo {
            timeout-ms = <80>;
            key-positions = <19 8 2>;
            bindings = <&kana_gyo>;
            layers = <2 3>;
        };

        combo_jo {
            timeout-ms = <80>;
            key-positions = <19 8 4>;
            bindings = <&kana_jo>;
            layers = <2 3>;
        };

        combo_dyo {
            timeout-ms = <80>;
            key-positions = <19 8 17>;
            bindings = <&kana_dyo>;
            layers = <2 3>;
        };

        combo_byo {
            timeout-ms = <80>;
            key-positions = <19 8 26>;
            bindings = <&kana_byo>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 半濁音拗音: 「な」(33) + 「ひ」(26) + 拗音キー (Layer 2 & 3)
        // -------------------------------------------------------------
        combo_pya {
            timeout-ms = <80>;
            key-positions = <33 26 18>;
            bindings = <&kana_pya>;
            layers = <2 3>;
        };

        combo_pyu {
            timeout-ms = <80>;
            key-positions = <33 26 10>;
            bindings = <&kana_pyu>;
            layers = <2 3>;
        };

        combo_pyo {
            timeout-ms = <80>;
            key-positions = <33 26 8>;
            bindings = <&kana_pyo>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 外来音: 「な」(33) / 「あ」(19) + 「て」(3) (ティ・テュ・ディ・デュ)
        // -------------------------------------------------------------
        combo_thi {
            timeout-ms = <80>;
            key-positions = <33 3 20>;
            bindings = <&kana_thi>;
            layers = <2 3>;
        };

        combo_thu {
            timeout-ms = <80>;
            key-positions = <33 3 10>;
            bindings = <&kana_thu>;
            layers = <2 3>;
        };

        combo_dhi {
            timeout-ms = <80>;
            key-positions = <19 3 20>;
            bindings = <&kana_dhi>;
            layers = <2 3>;
        };

        combo_dhu {
            timeout-ms = <80>;
            key-positions = <19 3 10>;
            bindings = <&kana_dhu>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 外来音: 「な」(33) / 「あ」(19) + 「と」(15) (トゥ・ドゥ)
        // -------------------------------------------------------------
        combo_twu {
            timeout-ms = <80>;
            key-positions = <33 15 21>;
            bindings = <&kana_twu>;
            layers = <2 3>;
        };

        combo_dwu {
            timeout-ms = <80>;
            key-positions = <19 15 21>;
            bindings = <&kana_dwu>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 外来音: 「な」(33) + 「す」(9: え) + 左手キー (シェ・チェ)
        // -------------------------------------------------------------
        combo_sye {
            timeout-ms = <80>;
            key-positions = <33 9 4>;
            bindings = <&kana_sye>;
            layers = <2 3>;
        };

        combo_tye {
            timeout-ms = <80>;
            key-positions = <33 9 17>;
            bindings = <&kana_tye>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 外来音: 「あ」(19) + 「す」(9: え) + 左手キー (ジェ・ヂェ)
        // -------------------------------------------------------------
        combo_zye {
            timeout-ms = <80>;
            key-positions = <19 9 4>;
            bindings = <&kana_zye>;
            layers = <2 3>;
        };

        combo_dye {
            timeout-ms = <80>;
            key-positions = <19 9 17>;
            bindings = <&kana_dye>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 外来音: 「こ」(28) + 「ー」(22: ふ相当) + 母音 (ファ・フィ・フェ・フォ・フュ)
        // -------------------------------------------------------------
        combo_fa {
            timeout-ms = <80>;
            key-positions = <28 22 19>;
            bindings = <&kana_fa>;
            layers = <2 3>;
        };

        combo_fi {
            timeout-ms = <80>;
            key-positions = <28 22 20>;
            bindings = <&kana_fi>;
            layers = <2 3>;
        };

        combo_fe {
            timeout-ms = <80>;
            key-positions = <28 22 9>;
            bindings = <&kana_fe>;
            layers = <2 3>;
        };

        combo_fo {
            timeout-ms = <80>;
            key-positions = <28 22 32>;
            bindings = <&kana_fo>;
            layers = <2 3>;
        };

        combo_fyu {
            timeout-ms = <80>;
            key-positions = <28 22 10>;
            bindings = <&kana_fyu>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 外来音: 「か」(16) + 「う」(21) + 母音 (ヴァ・ヴィ・ヴ・ヴェ・ヴォ・ヴュ)
        // -------------------------------------------------------------
        combo_va {
            timeout-ms = <80>;
            key-positions = <16 21 19>;
            bindings = <&kana_va>;
            layers = <2 3>;
        };

        combo_vi {
            timeout-ms = <80>;
            key-positions = <16 21 20>;
            bindings = <&kana_vi>;
            layers = <2 3>;
        };

        combo_vu {
            timeout-ms = <80>;
            key-positions = <16 21 22>;
            bindings = <&kana_vu>;
            layers = <2 3>;
        };

        combo_ve {
            timeout-ms = <80>;
            key-positions = <16 21 9>;
            bindings = <&kana_ve>;
            layers = <2 3>;
        };

        combo_vo {
            timeout-ms = <80>;
            key-positions = <16 21 32>;
            bindings = <&kana_vo>;
            layers = <2 3>;
        };

        combo_vyu {
            timeout-ms = <80>;
            key-positions = <16 21 10>;
            bindings = <&kana_vyu>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 外来音: 「こ」(28) + 「う」(21) + 「ー」(22: ふ相当) + 母音 (ウィ・ウェ・ウォ)
        // -------------------------------------------------------------
        combo_wi {
            timeout-ms = <80>;
            key-positions = <28 21 22 20>;
            bindings = <&kana_wi>;
            layers = <2 3>;
        };

        combo_we {
            timeout-ms = <80>;
            key-positions = <28 21 22 9>;
            bindings = <&kana_we>;
            layers = <2 3>;
        };

        combo_who {
            timeout-ms = <80>;
            key-positions = <28 21 22 32>;
            bindings = <&kana_who>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 外来音: 「こ」(28) + 「い」(20) + 「す」(9: え相当) (イェ)
        // -------------------------------------------------------------
        combo_ye {
            timeout-ms = <80>;
            key-positions = <28 20 9>;
            bindings = <&kana_ye>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 外来音: 「こ」(28) + 「う」(21) + 母音 (ツァ・ツィ・ツェ・ツォ)
        // -------------------------------------------------------------
        combo_tsa {
            timeout-ms = <80>;
            key-positions = <28 21 19>;
            bindings = <&kana_tsa>;
            layers = <2 3>;
        };

        combo_tsi {
            timeout-ms = <80>;
            key-positions = <28 21 20>;
            bindings = <&kana_tsi>;
            layers = <2 3>;
        };

        combo_tse {
            timeout-ms = <80>;
            key-positions = <28 21 9>;
            bindings = <&kana_tse>;
            layers = <2 3>;
        };

        combo_tso {
            timeout-ms = <80>;
            key-positions = <28 21 32>;
            bindings = <&kana_tso>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 外来音: 「こ」(28) + 「く」(18) + 母音 (クァ・クィ・クェ・クォ・クヮ)
        // -------------------------------------------------------------
        combo_kwa {
            timeout-ms = <80>;
            key-positions = <28 18 19>;
            bindings = <&kana_kwa>;
            layers = <2 3>;
        };

        combo_kwi {
            timeout-ms = <80>;
            key-positions = <28 18 20>;
            bindings = <&kana_kwi>;
            layers = <2 3>;
        };

        combo_kwe {
            timeout-ms = <80>;
            key-positions = <28 18 9>;
            bindings = <&kana_kwe>;
            layers = <2 3>;
        };

        combo_kwo {
            timeout-ms = <80>;
            key-positions = <28 18 32>;
            bindings = <&kana_kwo>;
            layers = <2 3>;
        };

        combo_kxwa {
            timeout-ms = <80>;
            key-positions = <28 18 35>;
            bindings = <&kana_kxwa>;
            layers = <2 3>;
        };

        // -------------------------------------------------------------
        // 外来音: 「か」(16) + 「く」(18) + 母音 (グァ・グィ・グェ・グォ・グヮ)
        // -------------------------------------------------------------
        combo_gwa {
            timeout-ms = <80>;
            key-positions = <16 18 19>;
            bindings = <&kana_gwa>;
            layers = <2 3>;
        };

        combo_gwi {
            timeout-ms = <80>;
            key-positions = <16 18 20>;
            bindings = <&kana_gwi>;
            layers = <2 3>;
        };

        combo_gwe {
            timeout-ms = <80>;
            key-positions = <16 18 9>;
            bindings = <&kana_gwe>;
            layers = <2 3>;
        };

        combo_gwo {
            timeout-ms = <80>;
            key-positions = <16 18 32>;
            bindings = <&kana_gwo>;
            layers = <2 3>;
        };

        combo_gxwa {
            timeout-ms = <80>;
            key-positions = <16 18 35>;
            bindings = <&kana_gxwa>;
            layers = <2 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  L  | , / ?|  P   | @ / #|                   | | / &|  F    |  U    |  D   |   K   |       |
            // |   `   |  A  |  R  |  E   |  N   |  B   |                   |  G   |  S    |  I    |  T   |   O   |   '   |
            // | LCTRL |  Z  |  W  | . / !|  H   |  J   |        |  |       |  V   |  C    |  Y    |  M   |   X   | RCTRL |
            // | LALT  | GUI |      | DEL  |SFT/SP|L1/RET|  |L1/RET|SFT/SP| BSPC |      | MENU | RALT  |
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
&kp ESC    &kp Q     &kp L       &mm_comma_qmark  &kp P             &mm_at_hash                    &mm_pipe_amps  &kp F             &kp U         &kp D    &kp K      &none
&kp GRAVE  &kp A     &kp R       &kp E            &kp N             &kp B                          &kp G          &kp S             &kp I         &kp T    &kp O      &kp SQT
&kp LCTRL  &kp Z     &kp W       &mm_dot_excl     &kp H             &kp J      &kp C_MUTE &kp LG(L)   &kp V       &kp C             &kp Y         &kp M    &kp X      &kp RCTRL
&kp LALT   &kp LGUI  &none       &mm_del_bspc     &mt LSHIFT SPACE  &lt 1 RET             &lt 1 RET      &mt RSHIFT SPACE  &mm_bspc_del    &none    &kp K_APP  &kp RALT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_BRI_UP C_BRI_DN>;
        };

        Symbol_layer {
            display-name = "Symbols";

            // ------------------------------------------------------------------------------------------------------------
            // |TO_NAG |  {  |  }  |  [   |  ]   |  ^   |                   |  %   |  _    |  <    |  >   |   $   |IME_TG |
            // |  TAB  |  ;  |  /  |  -   |  0   |  :   |                   |  \   |  1    |  (    |  )   |   =   |       |
            // | LCTRL |  6  |  7  |  8   |  9   |  +   |        |  |       |  *   |  2    |  3    |  4   |   5   | RCTRL |
            // | LALT  | GUI |      | DEL  |SPACE | (RET)|  | (RET)|SPACE | BSPC |      | MENU | RALT  |
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
&to_naginata  &kp LBRC  &kp RBRC  &kp LBKT   &kp RBKT  &kp CARET                  &kp PRCNT  &kp UNDER  &kp LT    &kp GT    &kp DLLR   &kp LA(GRAVE)
&kp TAB       &kp SEMI  &kp FSLH  &kp MINUS  &kp N0    &kp COLON                  &kp BSLH   &kp N1     &kp LPAR  &kp RPAR  &kp EQUAL  &none
&kp LCTRL     &kp N6    &kp N7    &kp N8     &kp N9    &kp PLUS   &kp C_MUTE &kp LG(L) &kp ASTRK  &kp N2     &kp N3    &kp N4    &kp N5     &kp RCTRL
&kp LALT      &kp LGUI  &none     &mm_del_bspc &kp SPACE &trans                   &trans     &kp SPACE  &mm_bspc_del &none  &kp K_APP  &kp RALT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_BRI_UP C_BRI_DN>;
        };

        Naginata_layer {
            display-name = "Naginata";

            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |     |  き  |  て  |  し  |  <-  |                   |  ->  |  さ  |  る  |  す  |  へ  |       |
            // |   `   |  ろ |  け  |  と  |  か  |  っ  |                   |  く  |  あ  |  い  |  う  |  ー  |       |
            // | LCTRL |  ほ |  ひ  |  は  |  こ  |  そ  |        |  |       |  た  |  な  |  ん  |  ら  |  れ  | RCTRL |
            // | LALT  | GUI |      | DEL  |L3/SP |L4/RET|  |L4/RET|L3/SP | BSPC |      | MENU | RALT  |
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
&kp ESC    &none     &kana_ki  &kana_te  &kana_shi  &kp LEFT                   &kp RIGHT  &kana_sa  &kana_ru  &kana_su     &kana_he   &none
&kp GRAVE  &kana_ro  &kana_ke  &kana_to  &kana_ka   &kana_xtsu                 &kana_ku   &kp A     &kp I     &kp U        &kp MINUS  &none
&kp LCTRL  &kana_ho  &kana_hi  &kana_ha  &kana_ko   &kana_so   &kp C_MUTE &kp LG(L) &kana_ta   &kana_na  &kana_nn  &kana_ra     &kana_re   &kp RCTRL
&kp LALT   &kp LGUI  &none     &mm_del_bspc &lt 3 SPACE &lt 4 RET                  &lt 4 RET   &lt 3 SPACE &mm_bspc_del &none    &kp K_APP  &kp RALT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_BRI_UP C_BRI_DN>;
        };

        SandS_layer {
            display-name = "SandS";

            // ------------------------------------------------------------------------------------------------------------
            // | S+ESC |     |  ね  |  り  |  め  | S+<- |                   | S+-> |  さ  |  よ  |  え  |  ゆ  |       |
            // |   ~   |  せ |  み  |  に  |  ま  |  ち  |                   |  や  |  の  |  も  |  つ  |  ふ  |       |
            // | S+CTRL|  ほ |  ひ  |  を  |  、  |  ぬ  |        |  |       |  お  |  。  |  む  |  わ  |  れ  | S+CTRL|
            // | S+ALT |S+GUI|      | BSPC | (SP) |S+RET |  |S+RET | (SP) | DEL  |      |S+MENU| S+ALT |
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
&kp LS(ESC)    &none         &kana_ne  &kana_ri  &kana_me   &kp LS(LEFT)               &kp LS(RIGHT)  &kana_sa  &kana_yo  &kp E      &kana_yu  &none
&kp LS(GRAVE)  &kana_se      &kana_mi  &kana_ni  &kana_ma   &kana_chi                  &kana_ya       &kana_no  &kana_mo  &kana_tsu  &kana_fu  &none
&kp LS(LCTRL)  &kana_ho      &kana_hi  &kana_wo  &kp COMMA  &kana_nu   &kp C_MUTE &kp LG(L) &kp O  &kp DOT   &kana_mu  &kana_wa   &kana_re  &kp LS(RCTRL)
&kp LS(LALT)   &kp LS(LGUI)  &none     &mm_bspc_del &trans  &kp LS(RET)                &kp LS(RET)    &trans    &mm_del_bspc &none    &kp LS(K_APP) &kp LS(RALT)
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_BRI_UP C_BRI_DN>;
        };

        Symbol_ja_layer {
            display-name = "Symbols-Ja";

            // ------------------------------------------------------------------------------------------------------------
            // |IME_TG |  (  |  )  |  {   |  }   |      |                   |      |  1    |  2    |  3   |  UP   |TO_ARN |
            // |  TAB  |  [  |  ]  |  ?   |  /   |  =   |                   |      |  4    |  5    |  6   |RECONV |       |
            // | LCTRL |  <  |  >  |  !   |  ~   |      |        |  |       |  0   |  7    |  8    |  9   | DOWN  | RCTRL |
            // | LALT  | GUI |      | DEL  |SFT/SP| (RET)|  | (RET)|SFT/SP| BSPC |      | MENU | RALT  |
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
&kp LA(GRAVE)  &kp LPAR  &kp RPAR  &kp LBRC   &kp RBRC   &none                     &none   &kp N1  &kp N2  &kp N3  &kp UP        &to_arensito
&kp TAB        &kp LBKT  &kp RBKT  &kp QMARK  &kp FSLH   &kp EQUAL                 &none   &kp N4  &kp N5  &kp N6  &kp LG(FSLH)  &none
&kp LCTRL      &kp LT    &kp GT    &kp EXCL   &kp TILDE  &none      &kp C_MUTE &kp LG(L) &kp N0  &kp N7  &kp N8  &kp N9  &kp DOWN      &kp RCTRL
&kp LALT       &kp LGUI  &none     &mm_del_bspc &sp_shift_arrows LSHIFT SPACE &trans     &trans  &sp_shift_arrows RSHIFT SPACE &mm_bspc_del &none    &kp K_APP  &kp RALT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_BRI_UP C_BRI_DN>;
        };


        Fn_Nav_layer {
            display-name = "Fn & Nav";

            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  F1 |  F2 |  F3  |  F4  |  F5  |                   |PRTSCN| HOME |  UP  |  END |PG_UP |       |
            // | PAUSE |  F6 |  F7 |  F8  |  F9  |  F10 |                   | CAPS | LEFT | DOWN | RIGHT|PG_DN |       |
            // | (CTRL)| F11 |     |      |      |  F12 |        |  |       |SCRLCK|      |      |      |INSERT| (CTRL)|
            // | (ALT) |(GUI)|TO_JA| (DEL)| (SP) | TO_SYS |  | TO_SYS | (SP) |(BSPC)|TO_EN |(MENU)|(ALT) |
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
&kp ESC          &kp F1   &kp F2  &kp F3  &kp F4  &kp F5                  &kp PRINTSCREEN  &kp HOME  &kp UP    &kp END    &kp PG_UP   &none
&kp PAUSE_BREAK  &kp F6   &kp F7  &kp F8  &kp F9  &kp F10                 &kp CAPSLOCK     &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN   &none
&trans           &kp F11  &none   &none   &none   &kp F12  &none   &none  &kp SCROLLLOCK   &none     &none     &none      &kp INSERT  &trans
&trans           &trans   &to 2   &trans  &trans  &to 7                   &to 7            &trans    &trans    &to 0      &trans      &trans
            >;
            sensor-bindings = <&rot_scroll_horiz &rot_scroll_vert>;
        };

        Navi_layer {
            display-name = "nvim";

            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |     |     |      |      |      |                   |  b   |      |  e   |  w   |  H   |       |
            // |       |     |     |      |      |      |                   |  h   |  j   |  k   |  l   |  M   |       |
            // |       |     |     |      |      |      |        |  |       |  0   |      |      |  $   |  L   | (CTRL)|
            // | (ALT) |(GUI)|      |(DEL) | (SP) |(RET) |  | (RET)| (SP) |(BSPC)|      |(MENU)|(ALT) |
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
&kp ESC &none   &none   &none   &none   &none                   &kp B   &none   &kp E  &kp W      &kp LS(H)  &none
&none   &none   &none   &none   &none   &none                   &kp H   &kp J   &kp K  &kp L      &kp LS(M)  &none
&none   &none   &none   &none   &none   &none   &kp C_MUTE &kp LG(L)   &kp N0  &none   &none  &kp DLLR   &kp LS(L)  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans &trans     &trans     &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_BRI_UP C_BRI_DN>;
        };

        System_layer {
            display-name = "System";

            // ------------------------------------------------------------------------------------------------------------
            // | TO_EN |     |     |      |      |      |                   |      |      |      |      |      | TO_EN |
            // |       |BTCLR|OUTTOG|     |      |BOOT(L)|                   |BOOT(R)|     |      |      |      |       |
            // |       |     |     |      |      |RST(L)|        |  |       |RST(R)|      |      |      |      |       |
            // |       |     |TO_JA| BT 1 | BT 2 | BT 3 |  |      |      |      |TO_JA |      |      |
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
&to 0   &none         &none         &none         &none         &none                         &none        &none  &none  &none  &none  &to 0
&none   &bt BT_CLR    &out OUT_TOG  &none         &none         &bootloader                   &bootloader  &none  &none  &none  &none  &none
&none   &none         &none         &none         &none         &sys_reset    &kp C_MUTE &kp LG(L)   &sys_reset   &none  &none  &none  &none  &none
&none   &none         &to 2         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2                  &none        &none  &none  &to 2  &none  &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_BRI_UP C_BRI_DN>;
        };

        Debug_layer {
            display-name = "Debug";

            // ----------------------------------------------------------------------------------------------------------------------------
            // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
            // | EXTPWR | BTCLR | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
            // |        | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
            // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
            //                    |         |         |         |         |         | |      |      |      |       |      |

            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &none        &none  &none   &none  &none  &none
&none       &none         &none         &none         &none         &none                         &none        &none  &none   &none  &none  &none
&none       &none         &none         &none         &none         &bootloader   &trans  &trans  &bootloader  &none  &none   &none  &none  &none
&none       &none         &none         &none         &none         &none                         &none        &none  &kp N7  &none  &none  &none
            >;
        };
    };
};
